server {
    root /var/www/html;
    index index.html;

    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};
}

server {
    root /var/www/html;
    index index.html;

    listen ${NGINX_PORT};
    server_name pg.${NGINX_HOST};
}
