server {
    root /var/www/html;
    index index.html;

    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};
}

server {
    listen ${NGINX_PORT};
    server_name pg.force-dev.ru;

    location / {
         fastcgi_pass php:5050;
    }
}
