upstream docker_pgadmin {
  server pgadmin:5050;
}

server {
   root /var/www/html;
   index index.html;

   listen ${NGINX_PORT};
   server_name ${NGINX_HOST};
}

server {
   listen ${NGINX_PORT};
   server_name pg.${NGINX_HOST};

   location / {
        proxy_pass http://docker_pgadmin;
   }
}

server {
  listen ${NGINX_PORT};
  server_name teamcity.${NGINX_HOST};

  location / {
       proxy_pass http://teamcity:8111;
  }
}
